@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');
.digital-new-releases{
    font-family: "Museo Sans Rounded", sans-serif;
    border: 0;
    padding:0;
    box-sizing: border-box;
}

.digital-new-releases{
    border-top: 1px solid grey;
}

.digital-new-releases-title{
    display: flex;
    align-items: center;
    padding: 50px 0px 50px 325px;
    
}

.digital-new-releases-title h2{
    padding-right: 10px;
    border-right: 1px solid black;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-size: 1.75rem;
}

.digital-new-releases-title a{
    padding-left: 10px;
    color: rgb(220, 32, 32);
}

.digital-new-releases-title a:hover{
    color: rgb(85, 18, 18);
    transition: 1s;
}

.digital-new-releases-container{
    display: flex;
    justify-content: center;
    gap:40px
}

.digital-new-releases-card{
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 316px;
    border: 1px solid rgba(198, 198, 198, 0.578);
    border-radius: 10px;
    cursor: pointer;
}




.digital-new-releases-card:hover img{
    margin-top: -30px;
    margin-bottom: 30px; 
    transition:all 1.0s ease-in-out;
    transition-timing-function:cubic-bezier(0.075 , 0.82, 0.250, 1);
}

.digital-new-releases-card p:nth-child(3){
    font-size: 12px;
    color:gray;
}

.digital-new-releases-card p:nth-child(4){
    font-weight: 600;
    color: rgb(118, 116, 116);
}

.digital-new-releases-card p{
    margin:10px;
}

.digital-new-releases-card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.digital-new-releases-card-footer p{
    border-left: 2px solid red;
    padding-left: 10px;
    font-size: 12px;
    color: grey;
}

.digital-new-releases-card-footer i{
    margin-right: 15px;
    font-size: x-large;
    color: red;
    cursor: pointer;
}
.digital-new-releases-card-footer i:hover{
    color: rgb(85, 18, 18);
    transition: 0.7s;
}

.digital-new-releases-card img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.digital-new-releases-card a{
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-size: 14px;
    font-weight: bolder;
    font-weight: 600;
}

.digital-new-releases-card:hover a{
    color: red;
    transition: 0.7s;
}

.digital-new-releases-card-footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:15px;
}

.digital-new-releases-card-footer1 p{
    border-left: 2px solid red;
    padding-left: 10px;
    font-size: 12px;
    color: grey;
}

.digital-new-releases-card-footer1 i{
    margin-right: 15px;
    font-size: x-large;
    color: red;
    cursor: pointer;
}
.digital-new-releases-card-footer1 i:hover{
    color: rgb(85, 18, 18);
    transition: 0.7s;
}